/* src/css/BuyCar.css */
.buy-car-page {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
}

.buy-car-page h2 {
    color: #333;
    margin-bottom: 2rem;
}
/* src/css/BuyCar.css */


.buy-car-page h2 {
    color: #333;
    margin-bottom: 2rem;
}
/* Styl dla pełnoekranowego przewijania */
body, html {
   
    padding: 0;
    overflow-y: scroll;
}

.full-width-container {
    width: 100%;
    padding: 0;
}

.full-width-container .car-card {
    width: 100%; /* Rozciąga każde ogłoszenie na pełną szerokość */
    margin-bottom: 10px; /* Opcjonalna przestrzeń między ogłoszeniami */
}
.car-list {
    width: 100%;
    padding: 0;
   /* Dodaj margines nad listą, aby odsunąć ją od navbaru */
    box-sizing: border-box;
}

.buy-car-page {
    background-color: #f5f5f5;
}

.buy-car-page h2 {
    color: #333;
    margin-bottom: 2rem;
}

.buy-car-body {
    /* min-padding-top: 200px; */
    padding-top: 4rem; 
}

.full-width-container {
    width: 100%;
    padding: 0;
}

.full-width-container .car-card {
    width: 100%; /* Rozciąga każde ogłoszenie na pełną szerokość */
    margin-bottom: 10px; /* Opcjonalna przestrzeń między ogłoszeniami */
}

.car-list {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin-top: 25px; /* Dodaj margines nad listą, aby odsunąć ją od navbaru */
    box-sizing: border-box;
}
/* .buy-car-page{margin-top: 100px;} */

.no-cars-announcement {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
}