.profile-page {
    display: flex;
    align-items: flex-start;
}

.profile-info-container {
    max-width: 400px;
    margin: 0;
    padding: 0;
}

.profile-card {
    width: 200px;
    background-color: #f8f9fa;
    border: none;
    border-radius: 10px;
    margin-right: 150px;
}

.car-listings-container {
    padding: 0 20px;
}

.profile-picture {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.edit-button {
    width: 100%;
}

.car-listings-card {
    background-color: #f8f9fa;
    border: none;
    border-radius: 10px;
}

.car-listings-header {
    cursor: pointer;
    background-color: #e9f0ff;
    color: #333;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.car-listings-header:hover {
    background-color: #d0e0ff;
}
/* w pliku Profile.css */
.profile-header {
    white-space: nowrap;
}

