.profile-page {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
    gap: 4vw; 
}

.profile-info-container {
    flex-basis: 35%; 
    max-width: 600px;
    padding: 0;
    margin-bottom: 1rem;
}

.profile-card {
    width: 100%;
    min-width: 10vw;
    background-color: #f8f9fa;
    border: none;
    border-radius: 10px;
}

.car-listings-container {
    flex-grow: 1;
    flex-basis: 60%;
    max-width: 700px;
    margin-left: auto;
}

.profile-picture {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.edit-button {
    width: 100%;
}

.car-listings-card {
    background-color: #f8f9fa;
    border: none;
    border-radius: 10px;
}

.car-listings-header {
    cursor: pointer;
    background-color: #e9f0ff;
    color: #333;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.car-listings-header:hover {
    background-color: #d0e0ff;
}

.profile-header {
    white-space: nowrap;
}
